@media only screen and (max-width: 1919px) {

}
@media only screen and (max-width: 1560px) {
    
}
@media only screen and (max-width: 1366px) {
    
}
@media only screen and (max-width: 1200px) {
    .mc-container{
        max-width: 95%;
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 1024px) {
    .news-highlight .nsh-col-left img{
        height: 360px;
    }
    .slide-trademark-viet .item img{
        height: 170px;
    }
    .mc-prev.slick-arrow{
        left: -15px;
    }
    .mc-next.slick-arrow{
        right: -15px;
    }
    .news-col-right .news-right-cover .item-right .thumb-post img{
        height: 108px;
    }
    .mc_news .news-left-cover .item-col .thumb-post img{
        height: 150px;
    }
    .service-and-form .ser_and_form .left-service{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .service-and-form .ser_and_form .right-form{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .service-and-form .list-post-service .list-post-service-1 .thumb-post img{
        height: 280px;
    }
}
@media only screen and (max-width: 876px){
    .news-highlight .nsh-col-left img{
        height: 310px;
    }
    .news-highlight .nsh-col-left .title{
        font-size: 18px;
    }
    .nsh-col-right .list-post-news-h img{
        height: 155px;
    }
    .mc_news_row .news-col-left{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .mc_news_row .news-col-right{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mc_news .news-left-cover .item-col .thumb-post img{
        height: 225px;
    }
    .news-col-right .news-right-cover .item-right .thumb-post img{
        height: 134px;
    }
    .service-and-form .list-post-service .list-post-service-1 .thumb-post img{
        height: 230px;
    }
}
@media only screen and (max-width: 768px) {
    .mbshtt-col-left{
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }
    .mbshtt-col-right{
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
        margin-bottom: 24px;
    }
}
@media only screen and (max-width: 576px) {
    .nsh-col-left{
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }
    .nsh-col-right {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
        margin-bottom: 30px;
    }
    .nsh-col-right .list-post-news-h img{
        height: 230px;
    }
    .news-highlight .nsh-col-left img{
        height: 230px;
    }
    .news-highlight .nsh-col-left .date{
        color: rgba(38, 38, 38, 0.60);
        font-size: 12px;
        margin-bottom: 8px;
    }
    .news-highlight .nsh-col-left .post-left-child:last-child{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .logo_partner .list-logo img{
        height: 50px;
    }
    .news-highlight{
        padding: 30px 0;
    }
    .logo_partner{
        padding: 30px 0;
    }
    .slide-trademark-viet .item img{
        height: 185px;
    }
    .title-bor-read-more{
        display: block;
        margin-bottom: 20px;
    }
    .title-bor-read-more .read-more{
        margin-left: auto;
        display: block;
        width: max-content;
    }
    .mc_news .news-left-cover .item-col .thumb-post img{
        height: 128px;
    }
    .mc_news{
        padding: 0px 0 40px 0;
    }
    .news-col-right .news-right-cover .item-right .item-right-thumb-co{
        flex: 0 0 40%;
        max-width: 38%;
    }
    .news-col-right .news-right-cover .item-right .item-right-content{
        flex: 0 0 60%;
        max-width: 58%;
    }
    .news-col-right .news-right-cover .item-right .mc-common-excerpt{
        display: none;
    }
    .news-col-right .news-right-cover .item-right .thumb-post img{
        height: 125px;
    }
    .mc_mbshtt{
        padding: 0;
    }
    .service-and-form .list-post-service .list-post-service-1 .item{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
    }
    .service-and-form .list-post-service .list-post-service-1 .thumb-post img{
        height: 240px;
    }
    .service-and-form .list-post-service .list-post-service-2 .item{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 438px) {
}